<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ABC_traders.Properties.Settings.AbcTradersConnectionString"
            connectionString="Data Source=DESKTOP-7FDU5G5\SQLEXPRESS;Initial Catalog=AbcTraders;Persist Security Info=True;User ID=sa;Password=alwis"
            providerName="System.Data.SqlClient" />
        
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>